<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li>
        {{#link-to 'dashboard'}}
          <i class="fa fa-home"></i> Home
        {{/link-to}}
      </li>
      <li>
        Settings
      </li>
      <li class="active">
        Billing Information
      </li>
    </ul>
  </div>
</div>

<section class="panel">
  <header class="panel-heading">
    <h3>Update your billing information</h3>
    <span>Note: we do not store any credit card information. All payment handling is done through Stripe.</span>
  </header>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        {{#if success}}
          <div class="alert alert-success">Info successfully updated!</div>
        {{/if}}
        {{#if errors}}
          <div class="alert alert-danger">{{errors}}</div>
        {{/if}}
        {{#if user.stripeToken}}
          <div class="alert alert-info"><i class="fa fa-info-circle"></i> You already have a card on file. You can update here if necessary.</div>
        {{/if}}
        <form class="form-horizontal" {{action 'saveBillingInfo' on='submit'}}>
          <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label">Card Number</label>
            <div class="col-lg-9">
              <div class="iconic-input">
                <i class="fa fa-credit-card"></i>
                {{input type='text' value=number class="form-control" autofocus="true"}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label">Expiration</label>
            <div class="col-lg-9">
              <div class="iconic-input">
                <i class="fa fa-calendar"></i>
                {{input type='text'
                  value=expiration
                  placeholder="mm/yy"
                  class="form-control"
                  autofocus="true"}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label">CVC</label>
            <div class="col-lg-9">
              <div class="iconic-input">
                <i class="fa fa-lock"></i>
                {{input type='text'
                  value=cvc
                  placeholder="123"
                  class="form-control"
                  autofocus="true"}}
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-lg btn-primary pull-right" type="submit" disabled={{submitting}}>
              {{#if submitting}}
                <i class="fa fa-spinner fa-spin"></i>
              {{else}}
                Save
              {{/if}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
