<div class="col-md-12">
  <div class="panel panel-default panel-table">
    <div class="panel-heading">
      Kill Feed
    </div>
    <div class="panel-body">
      <table class="table table-borderless">
        <tbody>
          {{#each killFeed as |kill|}}
            <tr>
              <td>{{moment-from-now kill.timestamp}}</td>
              <td>
                {{#if kill.player.avatar}}
                  <img src={{kill.player.avatar}} class="img-circle img-responsive" style="width:2vw;" />
                {{/if}}
              </td>
              <td>
                {{#link-to 'players.show' kill.player}}
                  {{kill.player.name}}
                {{/link-to}}
              </td>
              <td>killed <span class="s7-right-arrow"></span></td>
              <td>
                {{#if kill.death.player.avatar}}
                  <img src={{kill.death.player.avatar}} class="img-circle img-responsive" style="width:2vw;" />
                {{/if}}
              </td>
              <td>
                {{#link-to 'players.show' kill.death.player}}
                  {{kill.death.player.name}}
                {{/link-to}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
