<div class="row page-head">
  <div class="col-sm-4 page-head-heading">
    <h1>Upgrade Your Gear</h1>
  </div>
  <div class="col-sm-8 page-head-desc">
    <h3>Purchase a kit and activate instantly in-game</h3>
  </div>
</div>

<div class="row pricing-tables">
  <div class="col-md-3">
    <div class="pricing-table">
      <div class="pricing-table-title">{{dimebag.name}}</div>
      <div class="pricing-table-price"><span class="value">${{dimebag.price}}</span></div>
      <div class="pricing-table-frecuency">{{dimebag.redemptions}} redemptions</div>
      <div class="panel-divider panel-divider-xl"></div>
      <ul class="pricing-table-features">
        {{#each-in dimebag.description as |item amount|}}
          <li>{{item}} - {{amount}}</li>
        {{/each-in}}
      </ul>
      {{#if (can "create purchase" dimebag)}}
        <button class='btn btn-lg' {{action 'setSelectedKit' dimebag}} data-toggle="modal" href="#purchaseModal">Get Now</button>
      {{else}}
        <h5 class="text-danger">You must have a payment method on file in order to buy a kit.</h5>
        {{#link-to 'settings.billing' class="btn btn-lg"}}Add Payment Method{{/link-to}}
      {{/if}}
    </div>
  </div>
  <div class="col-md-3">
    <div class="pricing-table">
      <div class="pricing-table-title">{{fistfulofdollars.name}}</div>
      <div class="pricing-table-price"><span class="value">${{fistfulofdollars.price}}</span></div>
      <div class="pricing-table-frecuency">{{fistfulofdollars.redemptions}} redemptions</div>
      <div class="panel-divider panel-divider-xl"></div>
      <ul class="pricing-table-features">
        {{#each-in fistfulofdollars.description as |item amount|}}
          <li>{{item}} - {{amount}}</li>
        {{/each-in}}
      </ul>
      {{#if (can "create purchase" fistfulofdollars)}}
        <button class='btn btn-lg' {{action 'setSelectedKit' fistfulofdollars}} data-toggle="modal" href="#purchaseModal">Get Now</button>
      {{else}}
        <h5 class="text-danger">You must have a payment method on file in order to buy a kit.</h5>
        {{#link-to 'settings.billing' class="btn btn-lg"}}Add Payment Method{{/link-to}}
      {{/if}}
    </div>
  </div>
  <div class="col-md-3">
    <div class="pricing-table">
      <div class="pricing-table-title">{{forafewdollarsmore.name}}</div>
      <div class="pricing-table-price"><span class="value">${{forafewdollarsmore.price}}</span></div>
      <div class="pricing-table-frecuency">{{forafewdollarsmore.redemptions}} redemptions</div>
      <div class="panel-divider panel-divider-xl"></div>
      <ul class="pricing-table-features">
        {{#each-in forafewdollarsmore.description as |item amount|}}
          <li>{{item}} - {{amount}}</li>
        {{/each-in}}
      </ul>
      {{#if (can "create purchase" forafewdollarsmore)}}
        <button class='btn btn-lg' {{action 'setSelectedKit' forafewdollarsmore}} data-toggle="modal" href="#purchaseModal">Get Now</button>
      {{else}}
        <h5 class="text-danger">You must have a payment method on file in order to buy a kit.</h5>
        {{#link-to 'settings.billing' class="btn btn-lg"}}Add Payment Method{{/link-to}}
      {{/if}}
    </div>
  </div>
  <div class="col-md-3">
    <div class="pricing-table">
      <div class="pricing-table-title">{{goodbadugly.name}}</div>
      <div class="pricing-table-price"><span class="value">${{goodbadugly.price}}</span></div>
      <div class="pricing-table-frecuency">{{goodbadugly.redemptions}} redemptions</div>
      <div class="panel-divider panel-divider-xl"></div>
      <ul class="pricing-table-features">
        {{#each-in goodbadugly.description as |item amount|}}
          <li>{{item}} - {{amount}}</li>
        {{/each-in}}
      </ul>
      {{#if (can "create purchase" goodbadugly)}}
        <button class='btn btn-lg' {{action 'setSelectedKit' goodbadugly}} data-toggle="modal" href="#purchaseModal">Get Now</button>
      {{else}}
        <h5 class="text-danger">You must have a payment method on file in order to buy a kit.</h5>
        {{#link-to 'settings.billing' class="btn btn-lg"}}Add Payment Method{{/link-to}}
      {{/if}}
    </div>
  </div>
</div>


<div class="modal fade modal-dialog-center top-modal-with-space" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">You are about to purchase a kit</h4>
        </div>
        <div class="modal-body">
          You are about to buy the {{selectedKit.name}} for ${{selectedKit.price}}. Pressing Purchase will authorize a purchase.
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-default" type="button" {{action 'resetSelectedKit'}}>Cancel</button>
          <button class="btn btn-warning" type="button" {{action 'purchaseSelectedKit'}}>Purchase</button>
        </div>
      </div>
    </div>
  </div>
</div>
