<div class="row page-head">
  <div class="col-sm-4 page-head-heading">
    <h1>Upgrade Your Gear</h1>
  </div>
  <div class="col-sm-8 page-head-desc">
    <h3>Purchase a kit and activate instantly in-game</h3>
  </div>
</div>

<div class="row pricing-tables">
  <div class="col-md-3">
    <div class="pricing-table">
      <div class="pricing-table-title">{{dimebag.name}}</div>
      <div class="pricing-table-price"><span class="value">${{dimebag.price}}</span></div>
      <div class="pricing-table-frecuency">{{dimebag.redemptions}} redemptions</div>
      <div class="panel-divider panel-divider-xl"></div>
      <ul class="pricing-table-features">
        {{#each-in dimebag.description as |item amount|}}
          <li>{{item}} - {{amount}}</li>
        {{/each-in}}
      </ul>
      {{#if (can "create purchase" dimebag)}}
        <button class='btn btn-lg' {{action 'setSelectedKit' dimebag}} data-toggle="modal" href="#purchaseModal">Get Now</button>
      {{else}}
        <h5 class="text-danger">You must have a payment method on file in order to buy a kit.</h5>
        {{#link-to 'settings.billing' class="btn btn-lg"}}Add Payment Method{{/link-to}}
      {{/if}}
    </div>
  </div>
  <div class="col-md-3">
    <div class="pricing-table">
      <div class="pricing-table-title">{{fistfulofdollars.name}}</div>
      <div class="pricing-table-price"><span class="value">${{fistfulofdollars.price}}</span></div>
      <div class="pricing-table-frecuency">{{fistfulofdollars.redemptions}} redemptions</div>
      <div class="panel-divider panel-divider-xl"></div>
      <ul class="pricing-table-features">
        {{#each-in fistfulofdollars.description as |item amount|}}
          <li>{{item}} - {{amount}}</li>
        {{/each-in}}
      </ul>
      {{#if (can "create purchase" fistfulofdollars)}}
        <button class='btn btn-lg' {{action 'setSelectedKit' fistfulofdollars}} data-toggle="modal" href="#purchaseModal">Get Now</button>
      {{else}}
        <h5 class="text-danger">You must have a payment method on file in order to buy a kit.</h5>
        {{#link-to 'settings.billing' class="btn btn-lg"}}Add Payment Method{{/link-to}}
      {{/if}}
    </div>
  </div>
  <div class="col-md-3">
    <div class="pricing-table">
      <div class="pricing-table-title">{{forafewdollarsmore.name}}</div>
      <div class="pricing-table-price"><span class="value">${{forafewdollarsmore.price}}</span></div>
      <div class="pricing-table-frecuency">{{forafewdollarsmore.redemptions}} redemptions</div>
      <div class="panel-divider panel-divider-xl"></div>
      <ul class="pricing-table-features">
        {{#each-in forafewdollarsmore.description as |item amount|}}
          <li>{{item}} - {{amount}}</li>
        {{/each-in}}
      </ul>
      {{#if (can "create purchase" forafewdollarsmore)}}
        <button class='btn btn-lg' {{action 'setSelectedKit' forafewdollarsmore}} data-toggle="modal" href="#purchaseModal">Get Now</button>
      {{else}}
        <h5 class="text-danger">You must have a payment method on file in order to buy a kit.</h5>
        {{#link-to 'settings.billing' class="btn btn-lg"}}Add Payment Method{{/link-to}}
      {{/if}}
    </div>
  </div>
  <div class="col-md-3">
    <div class="pricing-table">
      <div class="pricing-table-title">{{goodbadugly.name}}</div>
      <div class="pricing-table-price"><span class="value">${{goodbadugly.price}}</span></div>
      <div class="pricing-table-frecuency">{{goodbadugly.redemptions}} redemptions</div>
      <div class="panel-divider panel-divider-xl"></div>
      <ul class="pricing-table-features">
        {{#each-in goodbadugly.description as |item amount|}}
          <li>{{item}} - {{amount}}</li>
        {{/each-in}}
      </ul>
      {{#if (can "create purchase" goodbadugly)}}
        <button class='btn btn-lg' {{action 'setSelectedKit' goodbadugly}} data-toggle="modal" href="#purchaseModal">Get Now</button>
      {{else}}
        <h5 class="text-danger">You must have a payment method on file in order to buy a kit.</h5>
        {{#link-to 'settings.billing' class="btn btn-lg"}}Add Payment Method{{/link-to}}
      {{/if}}
    </div>
  </div>
</div>

<div id="purchaseModal" tabindex="-1" role="dialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="s7-close"></span></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div class="text-primary"><span class="modal-main-icon s7-rocket"></span></div>
          <h3 class="mb-4">Right on! You are about to purchase a kit!</h3>
          <p>You are about to buy the {{selectedKit.name}} for ${{selectedKit.price}}. Pressing Purchase will authorize a purchase.</p>
          <p>Purchasing kits helps to support the cost of running Byome and its servers for your enjoyment.</p>
          <div class="mt-6">
            <button type="button" data-dismiss="modal" class="btn btn-sm btn-space btn-secondary" {{action 'resetSelectedKit'}}>Cancel</button>
            <button type="button" data-dismiss="modal" class="btn btn-sm btn-space btn-primary" {{action 'purchaseSelectedKit'}}>Proceed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
