<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li>
        {{#link-to 'dashboard'}}
          <i class="fa fa-home"></i> Home
        {{/link-to}}
      </li>
      <li class="active">
        Kits
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="text-center feature-head">
    <h1>Upgrade Your Gear</h1>
    <p>Purchase a kit and activate instantly in-game</p>
  </div>
  <div class="col-lg-3 col-sm-3">
    <div class="pricing-table">
      <div class="pricing-head">
        <h1>{{dimebag.name}}</h1>
        <h2><span class="note">$</span>{{dimebag.price}}</h2>
      </div>
      <ul class="list-unstyled">
        {{#each-in dimebag.description as |item amount|}}
          <li>{{item}} - {{amount}}</li>
        {{/each-in}}
      </ul>
      <div class="price-actions">
        <h3>Uses: {{dimebag.redemptions}}</h3>
        <p>Kit can only be used <strong>once</strong> per wipe.</p>
        {{#if session.userModel.stripeCardToken}}
          <button class='btn btn-lg' {{action 'buyKit' dimebag}}>Get Now</button>
        {{else}}
          <h5 class="text-danger">You must have a payment method on file in order to buy a kit.</h5>
          {{#link-to 'users.billing' class="btn btn-lg"}}Add Payment Method{{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-3">
    <div class="pricing-table">
      <div class="pricing-head">
        <h1>{{fistfulofdollars.name}}</h1>
        <h2><span class="note">$</span>{{fistfulofdollars.price}}</h2>
      </div>
      <ul class="list-unstyled">
        {{#each-in fistfulofdollars.description as |item amount|}}
          <li>{{item}} - {{amount}}</li>
        {{/each-in}}
      </ul>
      <div class="price-actions">
        <h3>Uses: {{fistfulofdollars.redemptions}}</h3>
        <p>Kit can only be used <strong>once</strong> per wipe.</p>
        {{#if session.userModel.stripeCardToken}}
          <button class='btn btn-lg' {{action 'buyKit' fistfulofdollars}}>Get Now</button>
        {{else}}
          <h5 class="text-danger">You must have a payment method on file in order to buy a kit.</h5>
          {{#link-to 'users.billing' class="btn btn-lg"}}Add Payment Method{{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-3">
    <div class="pricing-table most-popular">
      <div class="pricing-head">
        <h1>{{forafewdollarsmore.name}}</h1>
        <h2><span class="note">$</span>{{forafewdollarsmore.price}}</h2>
      </div>
      <ul class="list-unstyled">
        {{#each-in forafewdollarsmore.description as |item amount|}}
          <li>{{item}} - {{amount}}</li>
        {{/each-in}}
      </ul>
      <div class="price-actions">
        <h3>Uses: {{forafewdollarsmore.redemptions}}</h3>
        <p>Kit can only be used <strong>once</strong> per wipe.</p>
        {{#if session.userModel.stripeCardToken}}
          <button class='btn btn-lg' {{action 'buyKit' forafewdollarsmore}}>Get Now</button>
        {{else}}
          <h5 class="text-danger">You must have a payment method on file in order to buy a kit.</h5>
          {{#link-to 'users.billing' class="btn btn-lg"}}Add Payment Method{{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-3">
    <div class="pricing-table">
      <div class="pricing-head">
        <h1>{{goodbadugly.name}}</h1>
        <h2><span class="note">$</span>{{goodbadugly.price}}</h2>
      </div>
      <ul class="list-unstyled">
        {{#each-in goodbadugly.description as |item amount|}}
          <li>{{item}} - {{amount}}</li>
        {{/each-in}}
      </ul>
      <div class="price-actions">
        <h3>Uses: {{goodbadugly.redemptions}}</h3>
        <p>Kit can only be used <strong>once</strong> per wipe.</p>
        {{#if session.userModel.stripeCardToken}}
          <button class='btn btn-lg' {{action 'buyKit' goodbadugly}}>Get Now</button>
        {{else}}
          <h5 class="text-danger">You must have a payment method on file in order to buy a kit.</h5>
          {{#link-to 'users.billing' class="btn btn-lg"}}Add Payment Method{{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
