<div class="user-profile">
  <div class="row">
    <div class="col-md-12">
      <div class="user-display">
        <div class="user-display-cover"><img src="/img/cover.jpg" /></div>
        <div class="user-display-bottom">
          <div class="user-display-id"><img src={{playerAvatar}} alt="avatar" class="user-display-avatar">
            <div class="user-display-name">{{player.name}}</div>
          </div>
          <div class="user-display-stats">
            <div class="user-display-stat">
              <span class="user-display-stat-counter">{{killCount}}</span>
              <span class="user-display-stat-title">Kills</span>
            </div>
            <div class="user-display-stat">
              <span class="user-display-stat-counter">{{deathCount}}</span>
              <span class="user-display-stat-title">Deaths</span>
            </div>
            <div class="user-display-stat">
              <span class="user-display-stat-counter">{{player.kdRatio}}</span>
              <span class="user-display-stat-title">K/D Ratio</span>
            </div>
            <div class="user-display-stat">
              <span class="user-display-stat-counter">{{serversCount}}</span>
              <span class="user-display-stat-title">Server</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="user-info-list panel panel-default">
        <div class="panel-heading panel-heading-divider">
          Player Info
        </div>
        <div class="panel-body">
          <table class="no-border no-strip skills">
            <tbody class="no-border-x no-border-y">
              <tr>
                <td class="icon">
                  <span class="icon s7-power"></span>
                </td>
                <td class="item">Status</td>
                <td>
                  {{#if isOnline}}
                    <span class="text-success">Online</span>
                  {{else}}
                    <span>Offline</span>
                  {{/if}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
