<div class="row">
  <div class="col-md-12">
    <div class="project-list">
      <div class="project-list-title">Byome Servers</div>
      {{#each model as |server|}}
        {{#if (can "show server" server)}}
          <div class="project-item">
            <div class="project-item-title">
              {{#link-to 'servers.show' server.id}}
                {{server.name}}
              {{/link-to}}
            </div>
            <div class="project-item-user">
              {{server.playersOnlineCount}} / {{server.playerLimit}} players online
            </div>
            <div class="project-item-state">
              <span class="name">
                {{#if server.isOnline}}
                  <span class="label label-success">Online</span>
                {{else}}
                  <span class="label label-default">Offline</span>
                {{/if}}
              </span>
              <span class="description">State</span>
            </div>
            <div class="project-item-state">
              <span class="name">{{server.host}}</span>
              <span class="description">Host</span>
            </div>
            <div class="project-item-state">
              <span class="name">{{server.location}}</span>
              <span class="description">Location</span>
            </div>
            <div class="project-item-progress">
              <span class="description">{{server.playersOnlineWidth}}% capacity</span>
              <div class="progress">
                <div style="width: {{server.playersOnlineWidth}}%;" class="progress-bar progress-bar-success"></div>
              </div>
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
