<div class="row">
  <div class="col-md-4">

    <!-- Server Info -->
    <div class="row">
      <div class="col-md-12">
        <div class="user-info-list panel panel-default">
          <div class="panel-heading panel-heading-divider">{{model.name}}</div>
          <div class="panel-body">
            <table class="no-border no-strip skills">
              <tbody class="no-border-x no-border-y">
                <tr>
                  <td class="icon"><span class="icon s7-graph1"></span></td>
                  <td class="item">Host</td>
                  <td>{{model.host}}</td>
                </tr>
                <tr>
                  <td class="icon"><span class="icon s7-global"></span></td>
                  <td class="item">Location</td>
                  <td>{{model.location}}</td>
                </tr>
                <tr>
                  <td class="icon"><span class="icon s7-rocket"></span></td>
                  <td class="item">Status</td>
                  <td>
                    {{#if model.isOnline}}
                      <span class="item badge badge-success">Online</span>
                    {{else if model.isRestarting}}
                      <span class="item badge badge-info">Restarting</span>
                    {{else if model.isUpgrading}}
                      <span class="item badge badge-warning">Upgrading</span>
                    {{else}}
                      <span class="item badge badge-danger">Offline</span>
                    {{/if}}
                  </td>
                </tr>
                <tr>
                  <td class="icon"><span class="icon s7-hourglass"></span></td>
                  <td class="item">
                    Last Wipe <br/>
                    {{#if (can "edit server" model)}}
                      <span class="small"><a href="javascript:;" {{action 'updateWipeDay'}}>Set to Today</a></span>
                    {{/if}}
                  </td>
                  <td>{{moment-format model.lastWipe 'MM/DD/YYYY'}}</td>
                </tr>
                <tr>
                  <td class="icon"><span class="icon s7-hourglass"></span></td>
                  <td class="item">Next Wipe</td>
                  <td>{{moment-format model.nextWipe 'MM/DD/YYYY'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- / Server Info -->

    <!-- Server Map -->
    <div class="row">
      <div class="col-md-12">
        <img src="http://{{model.slug}}.byome.io:28015/map.jpg" class="img-fluid" alt="Map of {{model.name}}" />
      </div>
    </div>
    <!-- / Server Map -->

  </div>

  <div class="col-md-8">

    <!-- Active Players -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Players Online
          </div>
          <div class="panel-body">
            <div class="progress progress-striped active">
              <div style="width: {{model.playersOnlineWidth}}%" class="progress-bar progress-bar-success"></div>
            </div>
            <small>{{model.playersOnlineCount}} / {{model.playerLimit}} players online</small>
          </div>
        </div>
      </div>
    </div>
    <!-- / Active Players -->

    <!-- Kill Feed -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            Kill Feed
          </div>
          <div class="panel-body">
            <table class="table table-borderless">
              <tbody>
                {{#each killFeed as |kill|}}
                  <tr>
                    <td>{{moment-from-now kill.timestamp}}</td>
                    <td>{{kill.player.name}}</td>
                    <td>killed <span class="s7-right-arrow"></span></td>
                    <td>{{kill.death.player.name}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- / Kill Feed -->

  </div>
</div>
