{{#if session.isAuthenticated}}
  {{application/top-bar}}
  <div class="mai-wrapper">
    {{application/main-menu}}
    <section id="container">
      {{outlet}}
    </section>
  </div>
{{else}}
    <div class="container">
      {{outlet}}
    </div>
{{/if}}
