{{#if session.isAuthenticated}}
  <section id="container">
    {{application/top-bar}}
    {{application/side-bar}}
    <section id="main-content">
      <section class="wrapper site-min-height">
        {{outlet}}
      </section>
    </section>
  </section>
{{else}}
  <div class="container">
    {{outlet}}
  </div>
{{/if}}
