{{#if loginOrRegisterRoute}}
  <div id="container">
    {{outlet}}
  </div>
{{else}}
  {{application/top-bar}}
  <div class="mai-wrapper">
    {{application/main-menu}}
    <div class="main-content container">
      {{outlet}}
    </div>
  </div>
{{/if}}
