<div class="mai-wrapper mai-login">
  <div class="main-content container">
    <div class="splash-container row">
      <div class="col-sm-6 user-message">
        <span class="splash-message text-right">Hello!<br> it is good to<br> see you again</span>
        <span class="alternative-message text-right">Don't have an account? {{#link-to 'register'}}Sign up{{/link-to}}</span>
      </div>
      <div class="col-sm-6 form-message">
        <img src="/assets/byome/logos/byome-logo-white.svg" alt="logo" width="100" height="" class="logo-img mb-4"/>
        <span class="splash-description text-center mt-5 mb-5">Login to your account</span>
        {{#if errorMessage}}
          <div class="alert alert-danger">{{errorMessage}}</div>
        {{/if}}
        <form {{action 'signIn' this on='submit'}}>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="icon s7-user"></i></span>
              {{input type='text' value=email class="form-control" placeholder="Email" autofocus="true"}}
            </div>
          </div>
          <div class="form-group">
            <div class="input-group"><span class="input-group-addon"><i class="icon s7-lock"></i></span>
              {{input type='password' value=password class="form-control" placeholder="Password"}}
            </div>
          </div>
          <div class="form-group login-submit">
            <button data-dismiss="modal" type="submit" class="btn btn-lg btn-primary btn-block">
              {{#if signingIn}}
                {{fa-icon "spinner" spin=true}}
              {{else}}
                Login
              {{/if}}
            </button>
          </div>
          <div class="form-group row login-tools">
            <div class="col-6 login-remember">
              <label class="custom-control custom-checkbox mt-2">
                <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Remember me</span>
              </label>
            </div>
            <div class="col-6 pt-2 text-right login-forgot-password">
              <a href="#">Forgot Password?</a>
            </div>
          </div>
        </form>
        <div class="out-links">{{#link-to 'index'}}© 2017 Byome, LLC{{/link-to}}</div>
      </div>
    </div>
  </div>
</div>
