<div class="mai-wrapper mai-sign-up">
  <div class="main-content container">
    <div class="splash-container row">
      <div class="col-sm-6 form-message">
        <img src="/assets/byome/logos/byome-logo-white.svg" alt="logo" width="100" height="" class="logo-img mb-4" />
        <span class="splash-description text-center mt-4 mb-4">Sign up</span>
        {{#if (can "create user")}}
          {{#if errorMessage}}
            <div class="alert alert-danger">{{errorMessage}}</div>
          {{/if}}
          <form class="sign-up-form" {{action (perform signUp this) on='submit'}}>
            <div class="form-group">
              <div class="input-group"><span class="input-group-addon"><i class="icon s7-mail"></i></span>
                {{input type="text" value=email placeholder="Email" class="form-control"}}
              </div>
            </div>
            <div class="form-group">
              <div class="input-group"><span class="input-group-addon"><i class="icon s7-user"></i></span>
                {{input type="text" value=username placeholder="Username" class="form-control" autofocus=true}}
              </div>
            </div>
            <div class="form-group">
              <div class="input-group"><span class="input-group-addon"><i class="icon s7-id"></i></span>
                {{input type="text" value=name placeholder="Full Name" class="form-control" autofocus=true}}
              </div>
            </div>
            <div class="form-group inline row">
              <div class="col-6">
                <div class="input-group"><span class="input-group-addon"><i class="icon s7-lock"></i></span>
                  {{input type="password" value=password placeholder="Password" class="form-control"}}
                </div>
              </div>
              <div class="col-6">
                <div class="input-group"><span class="input-group-addon"><i class="icon s7-lock"></i></span>
                  {{input type="password" value=passwordConfirmation placeholder="Confirm password" class="form-control"}}
                </div>
              </div>
            </div>
            <div class="form-group sign-up-submit">
              <button data-dismiss="modal" type="submit" class="btn btn-lg btn-primary btn-block" disabled={{signUp.isRunning}}>
                {{#if signUp.isRunning}}
                  <i class="fa fa-spinner fa-spin"></i>
                {{else}}
                  Sign Up
                {{/if}}
              </button>
            </div>
            <p class="conditions">By creating an account, you agree with the <a href="#">Terms and Conditions</a>.</p>
          </form>
        {{/if}}
        <div class="out-links">{{#link-to 'index'}}© 2017 Byome, LLC{{/link-to}}</div>
      </div>
      <div class="col-sm-6 user-message">
        <span class="splash-message text-left">Welcome to<br> Byome</span>
        <span class="alternative-message text-right">Already have an account? {{#link-to 'login'}}Sign in{{/link-to}}</span>
      </div>
    </div>
  </div>
</div>
